[submodule "addons/blockflow"]
	path = addons/blockflow
	url = https://github.com/AnidemDex/blockflow.git
[submodule "addons/textalog"]
	path = addons/textalog
	url = https://github.com/Crystalwarrior/textalog.git
